import java.net.NetworkInterface;
import net.jini.id.UuidFactory;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

import com.sun.jini.reggie.RegistrarPermission;

com.sun.jini.reggie {
    initialMemberGroups = new String[] { "test" };
    persistenceDirectory = "${jini.ser.reggie.home}/reggie_tmp";
    multicastInterfaces = new NetworkInterface[]{};
    serverExporter = new BasicJeriExporter(
        TcpServerEndpoint.getInstance(8765),
        new BasicILFactory(null,RegistrarPermission.class));
    }
