
Cern
    type: M
    ipClass: 137.138.0.0/16
    ipClass: 192.91.0.0/16
	
Caltech 
	type: N
	ipClass: 131.215.0.0/16
	
FNAL 
	type: N
	ipClass: 131.225.0.0/16
	
BNL
	type: N
	ipClass: 130.199.0.0/16
	
UMICH
	type: N
	ipClass: 141.211.0.0/16
	
UFL
	type: N
	ipClass: 128.227.0.0/16
	
UChicago
	type: N
	ipClass: 128.135.0.0/16
	
Total_IN: Cern
Total_OUT: Starlight
		
