<Server port="8005" shutdown="SHUTDOWN">
  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <!-- JMX Support for the Tomcat server. Documentation at /docs/non-existent.html -->
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>


  <Service name="Catalina">
    <Connector 
        port="8080"
        protocol="HTTP/1.1"
        redirectPort="8443"
        compression="force"
        compressionMinSize="2048"
        compressableMimeType="text/html,text/xml,text/plain,text/css,text/cmd,text/csv,text/javascript,application/json,application/javascript,application/soap+xml,application/xhtml+xml,application/atom+xml"
        maxThreads="100"
        minSpareThreads="5"
        maxSpareThreads="15"
        enableLookups="false"
        acceptCount="100"
        connectionTimeout="10000"
        disableUploadTimeout="true"
        allowLinking="true"
        maxHttpHeaderSize="65536"
    />
    
    <!--
    <Connector port="8443" scheme="https" secure="true"
        protocol="org.apache.coyote.http11.Http11Protocol"
        SSLEnabled="true"
        maxThreads="20" minSpareThreads="2" maxSpareThreads="5"
        enableLookups="false" disableUploadTimeout="true"
        acceptCount="100"
        clientAuth="true"
        sslProtocol="TLS"
        keystoreFile="/path/to/keystore.jks"
        keystorePass="keystore_pass"
        keystoreType="JKS"
        truststoreFile="/path/to/CAs.jks"
        truststorePass="truststore_pass"
        truststoreType="JKS"
        allowLinking="true"
        compression="force"
        compressionMinSize="2048"
        compressableMimeType="text/html,text/xml,text/plain,text/css,text/cmd,text/csv,text/javascript,application/json,application/javascript,application/soap+xml,application/xhtml+xml,application/atom+xml"
        maxHttpHeaderSize="65536"
    />
    -->

    <Engine name="Catalina" defaultHost="localhost">
      <Logger className="org.apache.catalina.logger.FileLogger" />

      <Host name="localhost" appBase="webapps">
	  <DefaultContext allowLinking="true"/>
      </Host>

      
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase" />
    </Engine>
  </Service>
</Server>
