import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jrmp.*;

lia.util.security.authz.AuthZJiniProxy{
    exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(8877),
                                         new BasicILFactory(),
                                         true,
                                         true);
//    exporter = new JrmpExporter();
}