import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {
    private static codebase = "http://${jini.ser.hostname}:${jini.ser.port}/reggie-dl.jar";
    private static policy = "${jini.ser.reggie.home}/reggie.policy";
    private static classpath = "${jini.ser.home}/lib/reggie.jar";
    private static config = "${jini.ser.reggie.home}/persistent-reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
        new NonActivatableServiceDescriptor(
            codebase, policy, classpath,
            "com.sun.jini.reggie.PersistentRegistrarImpl",
            new String[] { config }) };
        }
